<div id="container">

  <svg id="RelateViewer" xmlns="http://www.w3.org/2000/">
    <g id="HaplotypesView"></g>
    <g id="RegionSelectorView"></g>
    <g id="DendrogramView"></g>
  </svg>

  <script type="module" src="main.js"></script>
</div>