<div id="container">
  <section id="input">
    <div>
      <label>Select dataset</label>
      <select id="dataset">
        <option value>Select dataset</option>
        <option value="A2M_chr12_9062708_9120919">
          A2M_chr12_9062708_9120919
        </option>
        <option value="ARSF_chrX_3036471_3117727">
          ARSF_chrX_3036471_3117727
        </option>
        <option value="TMEM258_chr11_61783949_61797599">
          TMEM258_chr11_61783949_61797599
        </option>
      </select>
    </div>
  </section>

  <div id="Container">
    <svg id="RelateViewer" xmlns="http://www.w3.org/2000/">
      <g id="HaplotypesView"></g>
      <g id="RegionSelectorView"></g>
      <g id="DendrogramView"></g>
    </svg>
  </div>

  <script type="module" src="main.js"></script>
</div>