// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

@mixin palegreen-box {
  padding: 2px 4px 6px;
  background-color: rgba(20,119,134,0.2);
  border-radius: 3px;
}

a[target="_blank"]::after {
  display: none;
}
.summary-header {
  margin-bottom: 12px;
  border: solid 2px #C1C6D3;
  border-radius: 5px;
  > div {
    padding: 10px;
  }
}
.data-name > h2, h3, p{
  margin: 0;
}
.data-name > h2 {
  padding-top: 13px;
}
.data-name > h3 {
  font-size: 12px;
  font-weight: normal;
}
.data-name > h2 > ruby {
  font-size: 24px;
}
.data-name > h2 > ruby > rt {
  font-size: 8px;
  font-weight: normal;
}
.data-name > h2 > h3 {
  font-size: 14px;
  font-weight: normal;
}
.properties {
  padding: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.data-name {
  border-bottom: 1px dashed #C1C6D3;
  margin: 0;
}
.link-wrapper {
  border-bottom: none;
}
.external-links, .properties {
  display: flex;
}
.external-links {
  > .linked-item {
    + .linked-item {
      margin-left: 2px;
    }
  }
}
.aliases {
  > dl {
    margin: 0 0 4px;
    @include palegreen-box();
    > dt {
      font-size: 10px;
      font-weight: bold;
    }
    > dd {
      margin-inline-start: 0;
      font-size: 14px;
      display: inline;
      &::after {
        content: ", ";
      }
      &:last-child::after {
        content: none;
      }
    }
  }
}
.linked-item {
  padding: 4px 20px;
  border: rgb(20,119,134) 1px solid;
  border-radius: 3px;
  background-color: rgb(20,119,134);
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  > a {
    color: #fff;
    text-decoration: none;
  }
  &.-unlinked {
    background-color: #fff;
    color: #147786;
  }
}
.linked-items {
  display: inline;
  font-weight: bold;
  @include palegreen-box();
  margin-right: 2px;
  margin-block-start: 0;
  margin-block-end: 0;
  > dt {
    font-size: 10px;
  }
  > dd {
    margin-inline-start: 0;
    display: inline-block;
  }
}

.external-links > div:nth-child(1) {
  padding: 4px 10px;
}
details summary {
  border-bottom: none;
}
.links-list {
  margin-top: 5px;
}
.tab-wrap {
display: flex;
flex-wrap: wrap;
margin: 12px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #13295A;;
  display: block;
  order: -1;
}
.tab-label {
  white-space: nowrap;
  text-align: center;
  padding: 6px 16px;
  order: -1;
  position: relative;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  color: #13295A;
  font-weight: bold;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  border: #13295A 2px solid;
  border-bottom: #fff 2px solid;
  margin-bottom: -2px;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 10px 5px;
  opacity: 1;
  transition: .5s opacity;
}
.tab-switch {
  display: none;
}
details {
  z-index: 0;
  position: relative;
}
#data-wrapper {
  margin-top: inherit;
  details {
    summary {
      color: #fff;
      &:before {
        width: 100%;
        height: 28px;
        z-index: -1;
        position: absolute;
      }
      &:after {
        left: 9px;
      }
    }
    &[open] summary:after {
      left: 7px;
    }
  }
}
.phenotype-view {
  column-count: 5;
  padding-top: 10px;
  > div > ul {
    margin: 0 0 2em;
    padding: 0 5px;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    break-inside: avoid;
  }
  > div > ul > li {
    font-weight: normal;
    padding-top: 4px;
  }
}
@media (min-width: 300px) {
  .phenotype-view {
    column-count: 1;
  }
}
@media (min-width: 600px) {
  .phenotype-view {
    column-count: 2;
  }
}
@media (min-width: 900px) {
  .phenotype-view {
    column-count: 3;
  }
}
@media (min-width: 1200px) {
  .phenotype-view {
    column-count: 4;
  }
}
.checkbox{
display: none;
}
.hierarchy-view {
  margin-left: 20px;
}
.hierarchy-view label{
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}
.hierarchy-view ul {
  padding: 0 5px;
  font-weight: bold;
  font-size: 12px;
  list-style-position: inside;
}
.hierarchy-view li{
  display: flex;
  height: 0;
  position: relative;
  overflow: hidden;
}
.hierarchy-view li::marker {
  margin-right: 5px;
}
.content {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
.checkbox:checked ~ ul > .content > .headline::before{
  transform: translate(0,-50%);  
}
.checkbox:checked ~ ul > li{
  height: auto;
  padding-top: 5px;
}
.genre-view {
  text-align: right;
  padding: 10px 0;
}
.genre-view > p {
  display: inline;
  background-color: rgba(19, 41, 90, 0.1);
  padding: 15px 20px;
  border-radius: 5px;
}
.genre-view > p > span {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}
.icon::before {
  color: #fff;
  padding: 2.8px 5px;
  margin-right: 3px;
  font-weight: normal;
  font-size: 9.6px;
}
.-genetic-disease-testing::before {
  content: "G";
  background-color: #5D639D;
}
.-designed-rare-disease::before {
  content: "D";
  background-color: #005FB6;
}
.-chronic-pediatric::before {
  content: "C";
  background-color: #E35480;
}
.-mgend::before {
  content: "M";
  background-color: #254571;
}
.disease-name {
  display: inline-grid;
  align-items: center;
  grid-template-columns: 1px auto 1fr;
  gap: 10px;
}
.disease-name::before {
  content: "";
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
}
.hierarchy-view > label > ul > .content > .disease-name {
  grid-template-columns: auto 1fr;
}
.hierarchy-view > label > ul > .content > .headline::before {
  content:'';
  display: block;
  border-left:5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  top: 8px;
  left: -11px;
  transform: translate(0,-50%) rotate(-90deg);
}
.disease-name::after {
  border-top: #7F7F7F 1px dashed;
  content: "";
}
.inspection-view {
  padding-top: 10px;
}
